@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #131520;
  border-radius: 0px;
}
