@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #880000;
  border-radius: 0px;
}
